<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Choosing a Country</title>
</head>

<body>
    <h1 style = "font-family:verdana">Enter a country of Your Choice! </h1>
    <form action = "/processRequest" method ="post">
        <fieldset>
            <label> Country Name: <input type="text" name="firstName"/></label>
        </fieldset>
        <fieldset>   
        <label> First Name: <input type="text" name="firstName"/></label>
        <label>Last Name: <input type="text" name="lastName" ></label> 
        <br>
        <br>
        <label>Country You live in: <input type="text" name="Zipcode"/></label>

        <br>
        <br>
        </fieldset>
    </form>
        <br>
		<input type="reset"/>
		<input type="submit" value="Submit Application"/>
        <hr>

    
</body>

</html>
